{:paths ["src" "resources"]
 :deps {gftd/scene {:git/url "https://github.com/kotoba-lang/scene.git" :sha "b0ca0ba9134dc8e57ebcb1d82d51829456d8b703"}
        gftd/vegetation {:git/url "https://github.com/kotoba-lang/vegetation.git" :sha "1f432210a56170066e637bc33b56ee0318b4668e"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
